# roles/k8s_setup/tasks/main.yml
- name: Disable SWAP (K8s requirement)
  shell: |
    swapoff -a
    sed -i '/ swap / s/^\(.*\)$/#\1/g' /etc/fstab

- name: Load kernel modules
  modprobe:
    name: "{{ item }}"
    state: present
  loop: [ 'overlay', 'br_netfilter' ]

- name: Set sysctl parameters
  sysctl:
    name: "{{ item.key }}"
    value: "{{ item.value }}"
    state: present
  with_items:
  - { key: 'net.bridge.bridge-nf-call-iptables', value: '1' }
  - { key: 'net.ipv4.ip_forward', value: '1' }
  - { key: 'net.bridge.bridge-nf-call-ip6tables', value: '1' }
