- name: Add Kubernetes APT key
  apt_key:
    url: https://pkgs.k8s.io/core:/stable:/v1.29/deb/Release.key
    state: present

- name: Add Kubernetes repository
  apt_repository:
    repo: deb https://pkgs.k8s.io/core:/stable:/v1.29/deb/ /
    state: present

- name: Install Kubelet, Kubeadm, and Kubectl
  apt:
    name: [ 'kubelet', 'kubeadm', 'kubectl' ]
    state: present

- name: Prevent packages from being upgraded
  dpkg_selections:
    name: "{{ item }}"
    selection: hold
  loop: [ 'kubelet', 'kubeadm', 'kubectl' ]
